<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITimeOfDayConverter" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:555/ITimeOfDayConverter"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITimeOfDayConverter"
                contract="TimeOfDayServiceReference.ITimeOfDayConverter" name="BasicHttpBinding_ITimeOfDayConverter" />
        </client>
    </system.serviceModel>
</configuration>