
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <br />Result = @ViewBag.Result<br />
    
    @Html.ActionLink("x + y  (/Calc/Sum/x/y)","Sum","Calc")
    <br />
    
    @Html.RouteLink("Index", new {controller="Calc", action="Index"})
 @*   <a href="/Calc/Sum/2/3">2 + 3  (/Calc/Sum)</a><br /><br />
    <a href="/Calc/Index">Index</a><br />*@
</div>
</body>
</html>