
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Таблица умножения на - 2", "Table", "SergeyDerko")
    </div>
</body>
</html>
