<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReadLog" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:555/IReadLog" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IReadLog" contract="ServiceReference.IReadLog"
                name="BasicHttpBinding_IReadLog" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
