@{
    ViewBag.Title = "Anastasia Nepomiluyev page";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.TimeOfDayModel.TimeOfDay</h3>
<br />
@Html.ActionLink("Мультипликатор А на Б", "Multiply", "AnastasiaNepomiluyev", new {a = 5, b = 5}, null)
<br />
@Html.Partial("User", (TestWcfSite.Models.AnastasiaNepomiluyev.User)ViewBag.User)
<br/>

