@{
    ViewBag.Title = "Anastasia Nepomiluyev page";
}

<h2>@ViewBag.Title</h2>
@Html.Partial("TimeOfDay", (TestWcfSite.Models.AnastasiaNepomiluyev.TimeOfDayClient)ViewBag.TimeOfDayModel)
<br />
@Html.ActionLink("Мультипликатор А на Б", "Multiply", "AnastasiaNepomiluyev", new {a = 5, b = 5}, null)
<br />
@Html.Partial("User", (TestWcfSite.Models.AnastasiaNepomiluyev.User)ViewBag.User)
<br/>

