@model TestWcfSite.Models.AnastasiaNepomiluyev.TimeOfDayClient

@using (Html.BeginForm("TimeOfDayClient", "AnastasiaNepomiluyev", FormMethod.Post))
{
    <h2>
        @ViewBag.ShowTimeOfDay
    </h2>
}

