<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICurrencyConvert" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:555/CurrencyConvert" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_ICurrencyConvert" contract="CurrencyConvertWcfLib.ICurrencyConvert"
          name="BasicHttpBinding_ICurrencyConvert" />
    </client>
  </system.serviceModel>
</configuration>