<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
<div>
    @Html.ActionLink("Sum: a = 20, b = 30", "Sum", "Calc", new {a = 20, b = 30}, null)
    <br/>
    @Html.RouteLink("Min: a = 50, b = 30", new {controller = "Calc", action="Min", a = 50, b = 30})
</div>
</body>
</html>