<h2>Sqrt</h2>

@if (ViewBag.A != null && ViewBag.Action != null && ViewBag.Result != null)
{
    var str = ViewBag.Action + "(" + ViewBag.A + ")=" + ViewBag.Result;
    <p>@str</p>
<<<<<<< HEAD
}
=======
}
>>>>>>> 6ad4eb26f33cf0745bc5c61f8247601975be5bc2
