<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <p>
        @{
            var o = ViewBag.Id + "+" + ViewBag.Id + "=" + ViewBag.Result;
            <h5>@o</h5>

            var str = ViewBag.A + "+" + ViewBag.B + "=" + ViewBag.Result;
            <h5>@str</h5>
        }
    </p>      
</div>
</body>
</html>