<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPlitka" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:555/Plitka" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPlitka" contract="PlitkaServiceReference.IPlitka"
                name="BasicHttpBinding_IPlitka" />
        </client>
    </system.serviceModel>
</configuration>