<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width"/>
    <title>Multiplication table</title>
</head>
<body>
    <div>
        <br />
        @Html.ActionLink("Таблица умножения", "_Table", "AlekseyAntonov")
    </div>
</body>
</html>
