<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicesVeawer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:555/ServicesVeawer" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServicesVeawer" contract="ServiceVeawerServiceReference.IServicesVeawer"
                name="BasicHttpBinding_IServicesVeawer" />
        </client>
    </system.serviceModel>
</configuration>