<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
      <client>
          <endpoint
                    address="http://localhost:777/ICalc"
               
                    binding ="basicHttpBinding"
                    contract ="TestWCFCommon.ICalc"
                    name="WSHttpBinding_ICalc" />
          <!--bindingConfiguration = "BasicHttpBinding_ICalc"-->

        </client>
    <!--<services>
      <service name="TestWCFService.Calc">
      
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:777/ICalc" />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:777/ICalc" binding="basicHttpBinding" contract="TestWCFCommon.ICalc" />
      </service>
    </services>-->
  </system.serviceModel>
</configuration>