<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="serviceConfig" type="TestWcfService.Config, TestWcfService" allowLocation="true"
             allowDefinition="Everywhere" />
  </configSections>

  <system.serviceModel>
    <services>
      <service name="TestWcfLib.Calc" behaviorConfiguration = "MyMexBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:555/ICalc" />
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" contract="Common.ICalc" />
      </service>
    </services>
    <behaviors>
            <serviceBehaviors>
                <behavior name="MyMexBehavior">
            <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <serviceConfig>
    <!--Уровень протокола OFF, INFO, ERROR, WARNING, DEBUG, TRACE	-->
    <log dir="" level="Trace" prefix="fs" />
  </serviceConfig>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
