@model TestWcfSite.Models.Multiply

<tr>
    <th>
        <select>
            @{
                for (var i = Model.StartIndex; i < Model.Count + Model.StartIndex; i++)
                {
                    <option>@i</option>
                }
            }
        </select>
    </th>
</tr>
<tr>
    <td>
        @foreach (var expr in Model.Multy())
        {
            @Html.DisplayFor(m => expr)<br/>
        }
    </td>
</tr>
