<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IScanPc" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:555/IScanPc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IScanPc" contract="ScanPcServiceReference.IScanPc"
                name="BasicHttpBinding_IScanPc" />
        </client>
    </system.serviceModel>
</configuration>