<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicesViewer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:555/IServicesViewer" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServicesViewer" contract="ServicesViewerServiceReference.IServicesViewer"
                name="BasicHttpBinding_IServicesViewer" />
        </client>
    </system.serviceModel>
</configuration>