<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICurrencyRate" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:555/CurrencyRate" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICurrencyRate" contract="CurrencyRateServiceReference.ICurrencyRate"
                name="BasicHttpBinding_ICurrencyRate" />
        </client>
    </system.serviceModel>
</configuration>