<div class="col-xs-3">
    <h3>Plitka</h3>
    <p>
        @Html.ActionLink("Перейти", "Plitka","", new { @class = "btn btn-default" })
    </p>
</div>
<div class="col-xs-3">
    <h3>Map</h3>
    <p>
        @Html.ActionLink("Перейти", "Map","", new { @class = "btn btn-default" })
    </p>
</div>