<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Плитка</h3>
    <p>
        <a class="btn btn-default" href="Danila/Plitka">Перейти &raquo;</a>
    </p>
   </body>
</html>

   