   
 <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;language=ru&amp;key=AIzaSyD2acvoiJX1dCViw5_A29V2J9l3X0Qcky8"
        type="text/javascript"></script>

<style>
    #map_canvas img {
        max-width: none;
    }
</style>

<style>
    .infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>
<br />
<div id="map_canvas" style="height: 550px;"></div>

@section scripts {
    <section class="scripts">

        <script type="text/javascript">

    $(document).ready(function () {
        Initialize();
    });

    function Initialize() {

        google.maps.visualRefresh = true;
        var Academy = new google.maps.LatLng(50.398527, 30.516223);

        var mapOptions = {
            zoom: 16,
            center: Academy,
            mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
        };

        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

        var data = [
                  { "Id": 1, "PlaceName": "BrainAcademy", "GeoLong": "50.398527", "GeoLat": "30.516223" },
                 ];

        $.each(data, function (i, item) {
            var marker = new google.maps.Marker({
                'position': new google.maps.LatLng(item.GeoLong, item.GeoLat),
                'map': map,
                'title': item.PlaceName
            });

            marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')

            var infowindow = new google.maps.InfoWindow({
                content: "<div class='infoDiv'><h2>" + item.PlaceName + "</div></div>"
            });

            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });

        })
    }


        </script>
    </section>
}
