<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMeteoTemp" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:555/CurrentMeteoTemp" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMeteoTemp" contract="MeteoTempServiceReference.IMeteoTemp"
                name="BasicHttpBinding_IMeteoTemp" />
        </client>
    </system.serviceModel>
</configuration>