@model TestWcfSite.Models.PikhotaSerhiiModels.CurrencyConverter
@{
    ViewBag.Title = "CurrencyConverter";
}

<h2>CurrencyConverter</h2>

@using (Html.BeginForm("CurrencyConverter", "SergeyPekhota", FormMethod.Post))
{
}