@model TestWcfSite.Models.PikhotaSerhiiModels.CurrencyConverter
@{
    ViewBag.Title = "CurrencyConverter";
}

<h2>CurrencyConverter</h2>



@using (Html.BeginForm("CurrencyConverter", "SergeyPekhota", FormMethod.Post))
{
    <select name="fromCurrency">
        <option>USD</option>
        <option>UAH</option>
        <option>EUR</option>
    </select>
    @Html.TextBox("count")
    <select name="toCurrency">
        <option>USD</option>
        <option>UAH</option>
        <option>EUR</option>
    </select>
    <input type="submit" name="Change" value="Обменять"/>
}

@Html.Label("Результат")
<b>@ViewBag.Result</b>