@model TestWcfSite.Models.PikhotaSerhiiModels.TablesOfMathActions
@{
    ViewBag.Title = "DivisionTable";
    ViewBag.Counter = 0;
    ViewBag.Begintd = "<td class = \"tb-pikhota \"";
    ViewBag.Endtd = "</td>";
}

<h2>DivisionTable</h2>


<table>
    <tr class="tb-pikhota">
        @foreach (var expression in Model.DivTable())
        {
            if (ViewBag.Counter == 0)
            {
                @Html.Raw(ViewBag.Begintd)
            }

            if (ViewBag.Counter < 8)
            {
                ViewBag.Counter++;
                @Html.DisplayFor(m => expression)
                <br />
            }

            if (ViewBag.Counter == 8)
            {
                @Html.Raw(ViewBag.Endtd)
                ViewBag.Counter = 0;
            }
        }
    </tr>

</table>