

<table style="border: black; border-style: solid; border-width: 1px;">
    <tr>@Html.Partial("_ViewPatrialTableHeader")</tr>
    <tr>@Html.Partial("_ViewPatrialTableNames")</tr>
    <tr>@Html.Partial("_ViewPatrialTable")</tr>
</table>

