@{
    ViewBag.Title = "Вывод таблиц матиматических операций";
}
<div class="row">
    <div class="col-md-4">
        <h3>Table Multiply</h3>
        <p>
            <a class="btn btn-default" href="SergeyPekhota/MathTables">Перейти &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Добавление пользователя</h3>
        <p>
            <a class="btn btn-default" href="SergeyPekhota/AddUser">Перейти &raquo;</a>
        </p>
    </div>
</div>

<footer>@Html.Raw(ViewBag.Info)</footer>
