
@{
    ViewBag.Title = "MathTables";
}

<h2>MathTables</h2>

<table style="border: black; border-style: solid; border-width: 2px;">
    <tr class="tb-pikhota">@Html.Partial("_ViewPatrialTableHeader")</tr>
    <tr class="tb-pikhota">@Html.Partial("_ViewPatrialTableNames")</tr>
    <tr class="tb-pikhota">@Html.Partial("_ViewPatrialTable")</tr>
</table>

