@{
    ViewBag.Title = "SumTable";
}

<h2>SumTable</h2>


<table>
    <tr class="tb-pikhota">
        @foreach (var expression in ViewData.Model)
        {
            if (ViewBag.Counter == 0)
            {
                @Html.Raw(ViewBag.Begintd)
            }

            if (ViewBag.Counter < 8)
            {
                ViewBag.Counter++;
                @Html.DisplayFor(m => expression)
                @Html.Raw(ViewBag.TagBr)
            }

            if (ViewBag.Counter == 8)
            {
                @Html.Raw(ViewBag.Endtd)
                ViewBag.Counter = 0;
            }
        }
    </tr>

</table>