<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IExchangeRates" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:555/ExchangeRates" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IExchangeRates" contract="ExchangeRatesServiceReference.IExchangeRates"
                name="BasicHttpBinding_IExchangeRates" />
        </client>
    </system.serviceModel>
</configuration>