<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @if (ViewBag.A != null && ViewBag.B != null && ViewBag.Action != null && ViewBag.Result != null)
    {
        var str = ViewBag.A + ViewBag.Action + ViewBag.B + "=" + ViewBag.Result;
        <p>@str</p>
    }
</div>
</body>
</html>