<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="CollectionSection" type="AppConfiguration.CollectionSection, AppConfiguration" />
  </configSections>
  <CollectionSection>
    <collection>
      <add type="one" name="one-1" p1="one-1 p1" />
      <add type="one" name="one-2" p1="one-2 p1" />
      <add type="two" name="two-1" p2="two-1 p2" />
    </collection>
  </CollectionSection>
</configuration>