@model TestWcfSite.Models.Yuriymodels.Expression
@{
    for (var i = Model.A; i < 10; i++)
    {
        for (var j = Model.B; j <= 10; j++)
        {
            var exp = Model.A + " x " + Model.B + " = " + Model.Result();
            <span>@exp</span>
            Model.B++;
            <br/>
        }
        Model.A++;
        Model.B = 1;
        <br/>
    }
}