
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CalcSum</title>
    
    <style type="text/css">
        p {
            font-weight: bold;
            font-size: 30px;
            color:darkblue;
        }
    </style>

</head>
<body>
<div>
    <p>Результат: @ViewBag.Result</p>
    

</div>
</body>
</html>
