@model TestWcfSite.Models.Yuriymodels.Client
@{
    ViewBag.Title = "Client";
}
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Add new client</legend>
        <label>Name:</label>@Html.TextBoxFor(name => name.Name)
        <label>Lastname:</label>@Html.TextBoxFor(lastname => lastname.Lastname)
        <label>Age:</label>@Html.TextBoxFor(age => age.Age)
        <input type="submit" value="Submit"/>
    </fieldset>
}