@{
    ViewBag.Title = "Yuriy homepage";
}
<div class="row">
    <div class="col-md-4">
        <h3>Table Multiply</h3>
        <p>Вывод таблицы умножения с помощью хелпера - Html.Partial</p>
        <p>
            <a class="btn btn-default" href="Yuriy/TableMultiply">Просмотреть &raquo;</a>
        </p>
    </div>
</div>