@{
    ViewBag.Title = "Yuriy homepage";
}
<style>
     label { display: inline-block; width: 100px; }

</style>
<div class="row" >
    <div class="col-md-4">
        <h3>Table Multiply</h3>
        <p>Вывод таблицы умножения с помощью частичного представления - Html.Partial</p>
        <p>
            <a class="btn btn-default" href="Yuriy/TableMultiply">Перейти &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Add new client</h3>
        <p>Отправка данных нового пользователя через форму и метод post</p>
        <p>
            @Html.ActionLink("Перейти »", "Client", "Yuriy" )
            <a class="btn btn-default" href="Yuriy/Client">Перейти &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Exchange Rates</h3>
        <p>Отображение курса валют</p>
        <p>
            <a class="btn btn-default" href="Yuriy/ExchangeRates">Перейти &raquo;</a>
        </p>
    </div>
</div>