@using TestWcfSite.Models.Yuriymodels
@model IEnumerable<Expression>
@{
    ViewBag.Title = "TableMultiply";
}
<h2>Table Multiply</h2>
<div>
    <h4>Expression</h4>
    @Html.Partial("Expression", (Expression)ViewBag.Expression)

    <h4>One Table</h4>
    @foreach (var i in Model)
    {
        @Html.Partial("Expression", i)
        <br />
    }
</div>