@using TestWcfSite.Models.Yuriymodels
@{
    ViewBag.Title = "TableMultiply";
}
<h2>Table Multiply</h2>
<div>
    <h4>Expression</h4>
    @Html.Partial("_Expression", (Expression) ViewBag.Expression)
    @Html.Partial("_Table")
    
</div>