@using TestWcfSite.Models.Yuriymodels
@{
    ViewBag.Title = "TableMultiply";
}
<h2>TableMultiply  - one expression</h2>
<div>
 
    @Html.Partial("Expression", (Expression)ViewBag.Expression)
    @Html.Partial("Expression", (Expression)ViewBag.Expression2)

</div>