@using System.Security.Cryptography
@{
    for (var i = 1; i < 10; i++)
    {
        var str = $@"<h{i}>Бу</h{i}>";

    }
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p></p>
<p>Use this area to provide additional information.</p>
