<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="serviceConfig" type="TestWcfService.Config, TestWcfService" allowLocation="true" allowDefinition="Everywhere" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <serviceConfig>
    <!--Уровень протокола OFF, INFO, ERROR, WARNING, DEBUG, TRACE	-->
    <log dir="" level="Trace" prefix="fs" />
  </serviceConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DBConnection" connectionString="data source=(LocalDb)\MSSQLLocalDB;Initial Catalog=TestWsfDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MyBinding" closeTimeout="00:01:10" openTimeout="00:01:01" receiveTimeout="00:10:01" sendTimeout="00:01:01" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524287" maxBufferSize="65535" maxReceivedMessageSize="65535" transferMode="Buffered" useDefaultWebProxy="false" messageEncoding="Text">
          <readerQuotas maxDepth="0" maxStringContentLength="0" maxArrayLength="0" maxBytesPerRead="0" maxNameTableCharCount="0" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="MyMexBehavior" name="TestWcfLib.Calc">
        <endpoint binding="basicHttpBinding" contract="TestWcfLib.ICalc" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:555/ICalc" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="TimeOfDayBehavior" name="TimeOfDayConvertWcfLib.TimeOfDayConvert">
        <endpoint binding="basicHttpBinding" contract="TimeOfDayConvertWcfLib.ITimeOfDayConverter" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:555/ITimeOfDayConverter" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ScanPcMexBehavior" name="SergeyDerkoLibrary.ScanPc">
        <endpoint binding="basicHttpBinding" contract="SergeyDerkoLibrary.IScanPc" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:555/IScanPc" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ReadLogMexBehavior" name="SergeyDerkoLibrary.ReadLog">
        <endpoint binding="basicHttpBinding" contract="SergeyDerkoLibrary.IReadLog" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:555/IReadLog" />
          </baseAddresses>
        </host>
      </service>
     <service name="ExchangeRatesServiceLib.ExchangeRates" behaviorConfiguration="ExchangeRatesMexBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:555/ExchangeRates" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="CurrencyRateMexBehavior" name="CurrencyRateServiceLibrary.CurrencyRate">
        <endpoint binding="basicHttpBinding" contract="CurrencyRateServiceLibrary.ICurrencyRate" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:555/CurrencyRate" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="PlitkaMexBehavior" name="PlitkaLib.Plitka">
        <endpoint binding="basicHttpBinding" contract="PlitkaLib.IPlitka" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:555/Plitka" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="CurrencyConvertMexBehavior" name="CurrencyConvertWcfLib.CurrencyConvert">
        <endpoint binding="basicHttpBinding" contract="CurrencyConvertLib.ICurrencyConvert" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:555/CurrencyConvert" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServicesViewerMexBehavior" name="ServicesViewerLib.ServicesViewer">
        <endpoint binding="basicHttpBinding" contract="ServicesViewerLib.IServicesViewer" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:555/ServicesViewer" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="MeteoTempMexBehavior" name="MeteoTempServiceLib.MeteoTemp">
        <endpoint binding="basicHttpBinding" contract="MeteoTempServiceLib.IMeteoTemp" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:555/CurrentMeteoTemp" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="TemperatureMexBehavior" name="TemperatureServiceLib.Temperature">
        <endpoint binding="basicHttpBinding" contract="TemperatureServiceLib.ITemperature" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:555/Temperature" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="TweeterMexBehavior" name="TweetLib.Twitter">
        <endpoint binding="basicHttpBinding" contract="TweetLib.ITweeter" />
              <host>
          <baseAddresses>
            <add baseAddress="http://localhost:555/ITweeter" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyMexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="TimeOfDayBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="ScanPcMexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="ReadLogMexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="100000" />
        </behavior>
        <behavior name="ExchangeRatesMexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="CurrencyRateMexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="PlitkaMexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="CurrencyConvertMexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="ServicesViewerMexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="MeteoTempMexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="TemperatureMexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="TweeterMexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>