<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
    <section name="serviceConfig" type="TestWcfService.Config, TestWcfService" allowLocation="true"
             allowDefinition="Everywhere" />
  </configSections>
  <serviceConfig>
    <!--Уровень протокола OFF, INFO, ERROR, WARNING, DEBUG, TRACE	-->
    <log dir="" level="Trace" prefix="fs" />
  </serviceConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MyMexBehavior" name="TestWcfLib.Calc">
        <endpoint binding="basicHttpBinding" contract="TestWcfLib.ICalc" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:555/ICalc" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="TimeOfDayBehavior" name="TimeOfDayConvertWcfLib.TimeOfDayConvert">
        <endpoint binding="basicHttpBinding" contract="TimeOfDayConvertWcfLib.ITimeOfDayConverter" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:555/ITimeOfDayConverter" />
          </baseAddresses>
        </host>
      </service>
      <service name="SergeyDerkoLibrary.ScanPc" behaviorConfiguration="ScanPcMexBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:555/IScanPc" />
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" contract="SergeyDerkoLibrary.IScanPc" />
      </service>
     <service name="ExchangeRatesServiceLib.ExchangeRates" behaviorConfiguration="ExchangeRatesMexBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:555/ExchangeRates"/>
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" contract="ExchangeRatesServiceLib.IExchangeRates" />
       </service>
      <service name="CurrencyRateServiceLibrary.CurrencyRate" behaviorConfiguration="CurrencyRateMexBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:555/CurrencyRate"/>
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" contract="CurrencyRateServiceLibrary.ICurrencyRate" />
       </service>
    <service name="PlitkaLib.Plitka" behaviorConfiguration="PlitkaMexBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:555/Plitka"/>
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" contract="PlitkaLib.IPlitka" />
       </service>
      <service name="CurrencyConvertWcfLib.CurrencyConvert" behaviorConfiguration="CurrencyConvertMexBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:555/CurrencyConvert"/>
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" contract="CurrencyConvertLib.ICurrencyConvert" />
      </service>
      <service name="ServicesVeawerLib.ServicesVeawer" behaviorConfiguration="ServicesVeawerMexBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:555/ServicesVeawer"/>
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" contract="ServicesVeawerLib.IServicesVeawer" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyMexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="TimeOfDayBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="ScanPcMexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      <behavior  name="ExchangeRatesMexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior  name="CurrencyRateMexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      <behavior  name="PlitkaMexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior  name="CurrencyConvertMexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior  name="ServicesVeawerMexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>