@{
    ViewBag.Title = "Oleg homepage";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Таблица умножения", "Table", "Oleg")
    </div>
</body>
</html>