<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITemperature" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:555/Temperature" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITemperature" contract="TemperatureServiceReference.ITemperature"
                name="BasicHttpBinding_ITemperature" />
        </client>
    </system.serviceModel>
</configuration>